.list1{
    margin-left: 1000px;
}
.backimg{
        height: 100vh;
}
.game{
    padding-top:150px;
    
    
}
.div2{
height: 100vh;
padding-top: 100px;
}
.div4{
    padding-left: 0px!important;
    padding-right: 0px!important;
}



@media screen and (min-width:360px) and (max-width:992px){
    .list1{
        margin-left: 0px;
    }
    .game{
        padding-top:0px;
    }
    .backimg{
        height: 60vh;
}
    .div2{
        height: 40vh;
        padding-top: 0px;
        }
        .div3{
        height: 250vh;
        padding-top:930px ;
        }
       
}