body{
    background-image: url('sunny-defocused-green-nature-background-abstract-bokeh-effect-es-element-your-design.jpg');
    
}
.div2{
    font-size: 30px;
    
}
.div1{
    height: 10vh;
}